{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crime Predictors</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "assets/css/style.css" %}">


</head>

<body>
  <div class="container-fluid" >
    <div class="jumbotron" style="background-color: #5fcf80; color:white;text-align:center">
      <h1>Dafa Mafia</h1>
      <p class="lead">Intelligence is the ability to adapt to change.</p>
    </div>
  </div>
  <div class="container">
    <div class="row" >
      <div class="col-md-6" >
        <form method='POST' action='/predict/'> {% csrf_token %}

        <h1>Crime Predictor</h1>

        <fieldset>
          <legend><span class="number">1</span>Input Variables</legend>
          <label for="year">Year:</label>
          <input type="text" id="Year" name="year">

          <label for="crime">Crime:</label>
          <input type="text" id="crime" name="crime">
          
        </fieldset>


        <button type="submit">Predict</button>
      </form>
      </div>
      <div class="col-md-6">
        <form method='POST' action='/predictTimeFrame/'> {% csrf_token %}

        <h1>Crime ~ Time Frame</h1>

        <fieldset>
          <legend><span class="number">1</span>Input Variables</legend>
          <label for="shift">Time Frame:</label>
          <input type="text" id="shift" name="shift">

          <label for="year">Year:</label>
          <input type="text" id="Year" name="year">

          <label for="crime">Crime:</label>
          <input type="text" id="crime" name="crime">
          
        </fieldset>


        <button type="submit">Predict</button>
      </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form method='POST' action='/predict/'> {% csrf_token %}

        <h1>Crime Predictor</h1>

        <fieldset>
          <legend><span class="number">1</span>Input Variables</legend>
          <label for="crime">Crime:</label>
          <input type="text" id="crime" name="crime">

          <label for="loc">Location:</label>
          <input type="text" id="loc" name="loc">
          <label for="shift">Time Frame:</label>
          <input type="text" id="shift" name="shift">

          <label for="year">Year:</label>
          <input type="text" id="Year" name="year">
          
        </fieldset>


        <button type="submit">Predict</button>
      </form>
      </div>
      <div class="col-md-6">
        <form method='POST' action='/predict/'> {% csrf_token %}

        <h1>Crime Predictor</h1>

        <fieldset>
          <legend><span class="number">1</span>Input Variables</legend>
          <label for="year">Year:</label>
          <input type="text" id="Year" name="year">

          <label for="crime">Crime:</label>
          <input type="text" id="crime" name="crime">
          
        </fieldset>


        <button type="submit">Predict</button>
      </form>
      </div>
    </div>
  </div>

</body>
<footer style="background-color: #5fcf80; height: 40px; " >
  <p style= "color:white;text-align:center;padding-top:10px">
    &copy; Copyright 2017, Data Mafia-DIH Islamabad
  </p>
</footer>
</html>