<div class="container">
    <div class="jumbotron">
      <h1>Dafa Mafia</h1>
      <p>Abbaaayyy!!! 3 alogorithms daal k mai kisse sale karun Irfaann bhaiyaa? *pfffff*</p>
    </div>
  </div>

    <div class="container-fluid">
    <div class="jumbotron" style="background-color: #5fcf80; color:white;text-align:center">
      <h1>Dafa Mafia</h1>
      <blockquote class="blockquote">
        <p class="mb-0">Intelligence is the ability to adapt to change.</p>
        <footer class="blockquote-footer">Stephen Hawking <cite title="Source Title">Tech Conferrence</cite></footer>
      </blockquote>
    </div>
  </div>



  <blockquote class="blockquote">
  <p class="mb-0">Intelligence is the ability to adapt to change.</p>
  <footer class="blockquote-footer">Stephen Hawking <cite title="Source Title">2012</cite></footer>
</blockquote>